{
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/changelog@3.0.0",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    ]
  ]
}