---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{.Release.Name}}-pv
spec:
  accessModes:
    - {{.Values.core.persistentVol.accessMode}}
  capacity:
    storage: {{.Values.core.persistentVol.capacity}}
  local:
    path: {{.Values.core.persistentVol.localPath}}
  nodeAffinity:
    required:
      nodeSelectorTerms:
        -
          matchExpressions:
            -
              key: kubernetes.io/hostname
              operator: In
              values:
                - {{.Values.core.persistentVol.node}}
  persistentVolumeReclaimPolicy: {{.Values.core.persistentVol.reclaimPolicy}}
  storageClassName: {{.Values.core.persistentVol.storageClass}}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{.Release.Name}}-pvc
spec:
  accessModes:
    - {{.Values.core.persistentVolClaim.accessMode}}
  resources:
    requests:
      storage: {{.Values.core.persistentVolClaim.capacity}}
  storageClassName: {{.Values.core.persistentVolClaim.storageClass}}
