---
apiVersion: v1
kind: Pod
metadata:
  name: core-pod
  labels:
    app: core-app
spec:
  securityContext:
    fsGroup: 123
  containers:
    - name: core-app-container
      image: jmatejka/happy-bank-core:1.0.0
      ports:
        - containerPort: 5000
      readinessProbe:
        httpGet:
          path: /health
          port: 5000
        initialDelaySeconds: 5
        timeoutSeconds: 40
      livenessProbe:
        httpGet:
          path: /health
          port: 5000
        initialDelaySeconds: 10
        timeoutSeconds: 40
      volumeMounts:
        - name: core-volume
          mountPath: /app-data/
  volumes:
    - name: core-volume
      persistentVolumeClaim:
        claimName: core-pvc
