apiVersion: batch/v1
kind: Job
metadata:
  name: core-job
spec:
  completions: 1
  backoffLimit: 2
  template:
    spec:
      containers:
        - name: curl-container
          image: appropriate/curl
          args:
            - -v
            - http://core-app-svc:5000/health
      restartPolicy: OnFailure 
